body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u1 {
  position:absolute;
  left:2px;
  top:304px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:61px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:61px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:126px;
  top:32px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:16px;
  top:34px;
  width:12px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:280px;
  top:9px;
  width:6px;
  height:6px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:290px;
  top:9px;
  width:6px;
  height:6px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:300px;
  top:9px;
  width:6px;
  height:6px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:8px;
  top:6px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:314px;
  top:7px;
  width:27px;
  height:10px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-3px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:318px;
  top:9px;
  width:22px;
  height:6px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:6px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:318px;
  top:9px;
  width:9px;
  height:6px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-5px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:66px;
  width:350px;
  height:154px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:154px;
}
#u23 {
  position:absolute;
  left:2px;
  top:69px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:61px;
  top:90px;
  width:225px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:144px;
  top:129px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:183px;
  top:240px;
  width:150px;
  height:40px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:231px;
  top:250px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:0px;
  top:323px;
  width:350px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:333px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:350px;
  height:1px;
}
#u33 {
  position:absolute;
  left:54px;
  top:193px;
  width:242px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:17px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:23px;
  top:240px;
  width:150px;
  height:40px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:71px;
  top:250px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:370px;
  top:240px;
  width:150px;
  height:40px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:418px;
  top:250px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:360px;
  top:230px;
  width:170px;
  height:60px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:530px;
  top:247px;
  width:124px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:107px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:4px;
  width:124px;
  height:2px;
}
#u46 {
  position:absolute;
  left:664px;
  top:230px;
  width:247px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF6600;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:23px;
  top:240px;
  width:150px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49 {
  position:absolute;
  left:183px;
  top:240px;
  width:150px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
