body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:608px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-10px;
  top:0px;
  width:350px;
  height:623px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u1 {
  position:absolute;
  left:2px;
  top:304px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-10px;
  top:0px;
  width:350px;
  height:623px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u3 {
  position:absolute;
  left:2px;
  top:304px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:52px;
  top:169px;
  width:225px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:270px;
  top:9px;
  width:6px;
  height:6px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:280px;
  top:9px;
  width:6px;
  height:6px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:290px;
  top:9px;
  width:6px;
  height:6px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:-2px;
  top:6px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:304px;
  top:7px;
  width:27px;
  height:10px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-3px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:308px;
  top:9px;
  width:22px;
  height:6px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:6px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:308px;
  top:9px;
  width:9px;
  height:6px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-5px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:142px;
  top:99px;
  width:9px;
  height:9px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:160px;
  top:99px;
  width:9px;
  height:9px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:179px;
  top:99px;
  width:9px;
  height:9px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:142px;
  top:116px;
  width:9px;
  height:9px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:160px;
  top:116px;
  width:9px;
  height:9px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:179px;
  top:116px;
  width:9px;
  height:9px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:142px;
  top:133px;
  width:9px;
  height:9px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:160px;
  top:133px;
  width:9px;
  height:9px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:179px;
  top:133px;
  width:9px;
  height:9px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:58px;
  top:239px;
  width:34px;
  height:34px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u39 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:148px;
  top:239px;
  width:34px;
  height:34px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u41 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:238px;
  top:239px;
  width:34px;
  height:34px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u43 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:58px;
  top:332px;
  width:34px;
  height:34px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u45 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:148px;
  top:332px;
  width:34px;
  height:34px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u47 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:238px;
  top:332px;
  width:34px;
  height:34px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u49 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:58px;
  top:425px;
  width:34px;
  height:34px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u51 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:148px;
  top:425px;
  width:34px;
  height:34px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u53 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:238px;
  top:425px;
  width:34px;
  height:34px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u55 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:37px;
  top:160px;
  width:259px;
  height:49px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:49px;
}
#u57 {
  position:absolute;
  left:2px;
  top:16px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:296px;
  top:177px;
  width:124px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:107px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:4px;
  width:124px;
  height:2px;
}
#u59 {
  position:absolute;
  left:430px;
  top:160px;
  width:188px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF6600;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:100px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
