body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u1 {
  position:absolute;
  left:2px;
  top:304px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:280px;
  width:149px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#949494;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:110px;
  top:200px;
  width:124px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
