body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-10px;
  top:0px;
  width:350px;
  height:623px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u1 {
  position:absolute;
  left:2px;
  top:304px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-10px;
  top:0px;
  width:350px;
  height:61px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:61px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:132px;
  top:32px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:6px;
  top:34px;
  width:12px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:270px;
  top:9px;
  width:6px;
  height:6px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:280px;
  top:9px;
  width:6px;
  height:6px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:290px;
  top:9px;
  width:6px;
  height:6px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:-2px;
  top:6px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:304px;
  top:7px;
  width:27px;
  height:10px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-3px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:308px;
  top:9px;
  width:22px;
  height:6px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:6px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:308px;
  top:9px;
  width:9px;
  height:6px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-5px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:66px;
  width:340px;
  height:557px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:557px;
}
#u23 {
  position:absolute;
  left:2px;
  top:270px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:15px;
  top:80px;
  width:325px;
  height:543px;
  overflow:hidden;
}
#u24_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:543px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:1760px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:1760px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
