body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-10px;
  top:0px;
  width:350px;
  height:623px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u1 {
  position:absolute;
  left:2px;
  top:304px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-10px;
  top:0px;
  width:350px;
  height:623px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u3 {
  position:absolute;
  left:2px;
  top:304px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:116px;
  top:169px;
  width:99px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:270px;
  top:9px;
  width:6px;
  height:6px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:280px;
  top:9px;
  width:6px;
  height:6px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:290px;
  top:9px;
  width:6px;
  height:6px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:-2px;
  top:6px;
  width:37px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:304px;
  top:7px;
  width:27px;
  height:10px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-3px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:308px;
  top:9px;
  width:22px;
  height:6px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:6px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:308px;
  top:9px;
  width:9px;
  height:6px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-5px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:58px;
  top:239px;
  width:34px;
  height:34px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u21 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:148px;
  top:239px;
  width:34px;
  height:34px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u23 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:238px;
  top:239px;
  width:34px;
  height:34px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u25 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:58px;
  top:332px;
  width:34px;
  height:34px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u27 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:148px;
  top:332px;
  width:34px;
  height:34px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u29 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:238px;
  top:332px;
  width:34px;
  height:34px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u31 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:58px;
  top:425px;
  width:34px;
  height:34px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u33 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:148px;
  top:425px;
  width:34px;
  height:34px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u35 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:238px;
  top:425px;
  width:34px;
  height:34px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u37 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:91px;
  top:161px;
  width:149px;
  height:39px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:39px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:240px;
  top:177px;
  width:180px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:4px;
  width:180px;
  height:2px;
}
#u41 {
  position:absolute;
  left:430px;
  top:130px;
  width:163px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF6600;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:140px;
  top:70px;
  width:51px;
  height:51px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u44 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:156px;
  top:77px;
  width:20px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:146px;
  top:97px;
  width:40px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:124px;
  top:131px;
  width:81px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:34px;
  top:580px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:211px;
  top:580px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:35px;
  top:210px;
  visibility:hidden;
}
#u55_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u55_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:150px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:150px;
}
#u57 {
  position:absolute;
  left:2px;
  top:67px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:19px;
  top:26px;
  width:231px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:40px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:115px;
  top:110px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:0px;
  top:90px;
  width:260px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u63 {
  position:absolute;
  left:430px;
  top:230px;
  width:79px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
